:root {
  --main-primary-color: #0066CC;
  --main-secondary-color: #D6D6D6;
  --main-highlight-color: #0066CC;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-aes.jpg');
  --mascot: url('/themes/custom/equity/images/aes.png');
}
