:root {
  --main-primary-color: #990000;
  --main-secondary-color: #D6D6D6;
  --main-highlight-color: #990000;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-bses.jpg');
  --mascot: url('/themes/custom/equity/images/bses.png');
}
