:root {
  --primary-color: #006633;
  --secondary-color: #D6D6D6;
  --highlight-color: #006633;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-bwes.jpg');
  --mascot: url('/themes/custom/equity/images/bwes.png');
}
