:root {
  --primary-color: #000099;
  --secondary-color: #D6D6D6;
  --highlight-color: #000099;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-cres.jpg');
  --mascot: url('/themes/custom/equity/images/cres.png');
}
