:root {
  --primary-color: #0C6797;
  --secondary-color: #689ACA;
  --highlight-color: #0C6797;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-dec.jpg');
  --mascot: url('/themes/custom/equity/images/dec.png');
}
