:root {
  --primary-color: #006699;
  --secondary-color: #D6D6D6;
  --highlight-color: #006699;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-dles.jpg');
  --mascot: url('/themes/custom/equity/images/dles.png');
}
