:root {
  --primary-color: #4a6cae;
  --secondary-color: #D6D6D6;
  --highlight-color: #4a6cae;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-elms.jpg');
  --mascot: url('/themes/custom/equity/images/elms.png');
}
