:root {
  --primary-color: #003399;
  --secondary-color: #D6D6D6;
  --highlight-color: #6699CC;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-emms.jpg');
  --mascot: url('/themes/custom/equity/images/emms.png');
}
