:root {
  --main-primary-color: #860007;
  --main-secondary-color: #ffd75f;
  --main-highlight-color: #860007;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-hc.jpg');
  --mascot: url('/themes/custom/equity/images/hc.png');
}
