:root {
  --primary-color: #183463;
  --secondary-color: #646464;
  --highlight-color: #183463;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-hohs.jpg');
  --mascot: url('/themes/custom/equity/images/hohs.png');
}
