:root {
  --primary-color: #003399;
  --secondary-color: #D6D6D6;
  --highlight-color: #003399;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-les.jpg');
  --mascot: url('/themes/custom/equity/images/les.png');
}
