:root {
  --primary-color: #470A68;
  --secondary-color: #777;
  --highlight-color: #470A68;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-lrhs.jpg');
  --mascot: url('/themes/custom/equity/images/lrhs.png');
}
