:root {
  --main-primary-color: #000000;
  --main-secondary-color: #D6D6D6;
  --main-highlight-color: #000000;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-mhms.jpg');
  --mascot: url('/themes/custom/equity/images/mhms.png');
}
