:root {
  --primary-color: #132C61;
  --secondary-color: #777;
  --highlight-color: #132C61;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-mrhs.jpg');
  --mascot: url('/themes/custom/equity/images/mrhs.png');
}
