:root {
  --primary-color: #990000;
  --secondary-color: #D6D6D6;
  --highlight-color: #990000;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-ples.jpg');
  --mascot: url('/themes/custom/equity/images/ples.png');
}
