:root {
  --main-primary-color: #006633;
  --main-secondary-color: #D6D6D6;
  --main-highlight-color: #006633;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-pres.jpg');
  --mascot: url('/themes/custom/equity/images/pres.png');
}
