:root {
  --primary-color: #573C67;
  --secondary-color: #D6D6D6;
  --highlight-color: #573C67;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-rbes.jpg');
  --mascot: url('/themes/custom/equity/images/rbes.png');
}
