:root {
  --primary-color: #50ABDD;
  --secondary-color: #FFFF87;
  --highlight-color: #50ABDD;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-rhhs.jpg');
  --mascot: url('/themes/custom/equity/images/rhhs.png');
}
