:root {
  --primary-color: #003366;
  --secondary-color: #D6D6D6;
  --highlight-color: #003366;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-sfes.jpg');
  --mascot: url('/themes/custom/equity/images/sfes.png');
}
