:root {
  --primary-color: #003300;
  --secondary-color: #D6D6D6;
  --highlight-color: #003300;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-wfes.jpg');
  --mascot: url('/themes/custom/equity/images/wfes.png');
}
