:root {
  --primary-color: #1E6907;
  --secondary-color: #FADA20;
  --highlight-color: #1E6907;
  --banner: url('https://www.hcpss.org/f/mrb/base/hs-theme/images/banner-wlhs.jpg');
  --mascot: url('/themes/custom/equity/images/wlhs.png');
}
